/* BARRA NAVEGACION */
@font-face {
    font-family: fuente-boca;
    src: url("../recursos/college.ttf");
}


.escudo {
    width: 140px;
}

.escudochico {
    width: 100px;
}

.barra {
    width: 100%;
    ;
    background-color: rgb(4, 4, 51);
    display: flex;
    align-items: center;
    color: goldenrod;
}


/* MEDIA QUERY */

@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        /* Coloca el menú justo debajo de la barra de navegación */
        left: 0;
        right: 0;
        background-color: goldenrod;
        /* color de fondo */
        z-index: 1000;
        /* asegura que esté por encima de otros elementos */
        overflow-y: auto;
        /* permite desplazamiento vertical si el menú es demasiado largo */
        max-height: calc(100vh - 56px);
        /* Limita la altura máxima al tamaño de la pantalla - la altura de la barra de navegación */
        width: 100%;
        /* Ocupa todo el ancho disponible */
        border-top: 4px solid #dee2e6;
        /* Agrega un borde superior para separar del contenido principal */
    }

    .visita {
        display: none;
        /* Oculta la imagen */
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    x .nav-item {
        width: 100%;
        text-align: center;
    }

    .navbar-collapse .nav-link {
        color: rgb(4, 4, 51);
        /* Cambia el color del texto a azul */
    }

    .navbar-collapse .nav-link:hover {
        color: white;
        background-color: rgb(4, 4, 51);
    }


    .escudo {
        width: 90px;
    }

    .cabj {
        font-size: 20px;
    }



}


/* FIN MEDIA QUERY */

.navbar {
    background-color: rgb(4, 4, 51);
    font-family: fuente-boca;
    justify-content: space-between;
}

.nav-link {
    color: goldenrod;
    font-size: 20px;
    font-weight: bolder;
}

.cabj {
    color: goldenrod;
    font-size: 55px;
    ;
    padding: 20px;
}

.navbar-toggler {
    background-color: goldenrod;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}


/* FIN BARRA NAVEGACION */

/* Medias Querys */



/* CONTENIDO PRINCIPAL */
.estadio {
    width: 100vw;
    height: 190px;
}

/* GRILLA */

.grilla {
    display: grid;
    color: white;
    grid-template-columns: repeat(4, 1fr);
    font-size: 30px;
    font-weight: bold;
    font-family: fuente-boca;
    grid-template-areas:
        "nav header header header"
        "nav article article aside"
        "nav article article aside"
        "footer footer footer footer"
    ;
}

.grilla nav {
    background-color: #2364AA;
    color: goldenrod;
    grid-area: nav
}

.grilla header {
    background-color: #2C3D55;
    color: goldenrod;
    grid-area: header;
}



.grilla article {
    background-color: rgb(4, 4, 51);
    grid-area: article;
}

.grilla aside {
    color: rgb(4, 4, 51);
    background-color: darkkhaki;
    grid-area: aside;
}

.grilla footer {
    background-color: goldenrod;
    color: rgb(4, 4, 51);
    grid-area: footer;
    height: 200px;
}



/* Hijos */
.grilla nav {
    background-color: #2364AA;
    color: goldenrod;
    grid-area: nav
}

.grilla header {
    background-color: #2C3D55;
    color: goldenrod;
    grid-area: header;
}



.grilla article {
    background-color: rgb(4, 4, 51);
    grid-area: article;
}

.grilla aside {
    color: rgb(4, 4, 51);
    background-color: darkkhaki;
    grid-area: aside;
}

.grilla footer {
    background-color: goldenrod;
    color: rgb(4, 4, 51);
    grid-area: footer;
    height: 200px;
}


/* Ajustes para dispositivos móviles */
@media (max-width: 992px) {
    .grilla {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "article"
            "aside"
            "footer";
    }

    .horarios.subr {
        text-align: left;
    }

    .area {
        word-wrap: break-word;
        overflow: hidden;
        padding: 20px;
        font-size: 16px;
    }
}

/* -Mobile */
@media (max-width: 400px) {
    .horarios.subr {
        text-align: left;
    }

    .botones-lista {
        flex-direction: column;
        align-items: left;
        font-size: 3px;
    }

    .botones-lista li button {
        font-size: 17px;
    }

    .grilla2 div{
        font-size: 20px;
    }
   
    .grilla3 {
        grid-template-columns: 1fr;
        grid-template-areas:
        "pasos"
        "formulario"
            ;
    }

    .grilla3 h3 {font-size: 15px;}
    .grilla3 ul li{font-size: 10px;}
    .grilla3 p {   font-size: 10px; }

}

.visit {
    text-align: center;
}

/* FIN GRILLA */

/* Estilos para la imagen en general */
.visita {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 600px) {
    .visita {
        display: none;
    }
}


.horarios {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    font-size: 13px;
    font-weight: none;
    text-decoration: underline;
    text-align: center;
}

.horariosm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    font-size: 20px;
    text-align: center;
    font-weight: none;
    text-decoration: underline;
    padding: 20px;
}

.visit {
    padding-left: 60px;
}

.reng {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding-left: 5px
}

.aclr {
    font-weight: bolder;
    color: goldenrod;
    font-style: italic;
    font-size: 14px;
}

.reserva {
    background-color: white;
    color: rgb(4, 4, 51);
    text-align: center;
    position: relative;
    font-size: 22px;
    font-family: fuente-boca;
    border: 3px solid white;

}


#boton {
    right: -115px;
}

/* MUSEO */



.rengm {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 5px
}


.d {
    color: goldenrod;
}

header .visit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header .visit ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header .visit ul li {
    margin-bottom: 5px;
}

header .visit .images {
    text-align: right;
    ;
}

header .visit .images img {
    width: 140px;
}

.botones-lista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.comprar {
    border: 3px solid white;
    font-size: 20px;
    position: relative;
    right: -30%;
}


.botones-lista li button {
    padding: 10px;
    background-color: #f0f0f0;
    border: 3px solid white;
    border-radius: 1px;
    cursor: pointer;
}

.botones-lista li button:hover {
    background-color: rgb(4, 4, 51);
}

.grilla button:hover {
    background-color: rgb(4, 4, 51);
    color: white;
    border: 3px solid white;
}


a:hover {
    background-color: goldenrod;
    color: rgb(4, 4, 51)
}



/* HOJA SOCIOS */
.login {
    width: 300px;
}

.fondo {
    position: relative;
    background-color: goldenrod;
    color: rgb(4, 4, 51);
}

.estadiosoc {
    width: 100vw;
    height: 100vh;
}

.estadio {
    position: relative;
}

.form-floating.login {
    font-family: fuente-boca;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#socio {
    top: 195%;
}

#clave {
    top: 240%;
}

#ingresar {
    top: 285%;
}

.titulos {
    padding-left: 80px;
    color: goldenrod;
    font-family: fuente-boca;
    font-size: 50px;
    background-color: rgb(4, 4, 51);
}

#posiciontitulo {
    top: 150%
}


.btn-primary {
    background-color: goldenrod;
    color: rgb(4, 4, 51);
    border: goldenrod;
}

.form-floating.logini {
    font-size: 40px;
    color: goldenrod;
    background-color: rgb(4, 4, 51);
    font-family: fuente-boca;
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
}

/* HOJA RESERVAS */

.escudochico {
    width: 60px;
}


.grilla2 {
    display: grid;
    color: rgb(4, 4, 51);
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    height: auto;
    background-color: goldenrod;
    font-family: fuente-boca;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "Futbol Basquet"
        "Inferiores Entranamientos"
        "Estacionamiento Pileta"
    ;
}

.grilla2 div:hover {
    background-color: rgb(4, 4, 51);
    color: white;
    cursor: pointer;
}

.Futbol {
    grid-area: Futbol;
}

.Basquet {
    grid-area: Basquet;
}

.Inferiores {
    grid-area: Inferiores;
}

.Femenino {
    grid-area: Femenino;
}

.Estacionamiento {
    grid-area: Estacionamiento;
}

.Pileta {
    grid-area: Pileta;
}

/* Hoja alta */

.subs {
    border: 3px solid white;
    font-size: 20px;
    position: relative;
    right: -30%;
}

.grilla3 {
    display: grid;
    color: rgb(4, 4, 51);
    font-size: 30px;
    text-align: left;
    line-height: 200px;
    height: 600px;
    font-family: fuente-boca;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "pasos formulario"
}


.pasos {
    grid-area: pasos;
}

.formulario {
    grid-area: formulario;
}

.lista-r {
    list-style: circle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.aclra {
    font-weight: bolder;
    color: white;
    font-style: italic;
    font-size: 14px;
    line-height: 1.5;
    background-color: rgb(4, 4, 51);
}

.fuente{font-size: 15px;}