/* BARRA NAVEGACION */
.brn {
    width: 100vw;
}

.escudo {
    width: 150px;
}

.escudochico {
    width: 100px;
}

.colorb {
    background-color: rgb(4, 4, 51);
    height: 140px;
}

.colorib {
    color: goldenrod;
    text-decoration: underline;
    font-size: 20px;
    font-family: fuente-boca;
}

.derecha {
    justify-content: flex-end;
}

@font-face {
    font-family: fuente-boca;
    src: url("../recursos/college.ttf");
}


.titulo {
    padding-left: 200px;
    color: goldenrod;
    font-family: fuente-boca;
    font-size: 50px;
}

/* FIN BARRA NAVEGACION */

/* Medias Querys */

@media (max-width: 1400px) {
    .titulo {
        padding-left: 220px;
        font-size: 40px;
    }
}

@media (max-width: 1300px) {
    .titulo {
        padding-left: 160px;
        font-size: 40px;
    }
}

@media (max-width: 1224px) {
    .titulo {
        padding-left: 90px;
        font-size: 40px;
    }
}

@media (max-width: 1160px) {
    .titulo {
        padding-left: 60px;
        font-size: 40px;
    }
}


@media (max-width: 1000px) {
    .titulo {
        padding-left: 0px;
        font-size: 30px;
    }

    .nav-link {
        padding: 20px;
    }

    .grilla {
        font-size: 10px;
    }
    .visita {display: none;}
    
    ul.botones-lista {
        list-style-type:none;
        display: list-item;
        font-size: 12px;}


   
    .grilla.article {
      grid-area: none;
        }
           
}


@media (max-width: 991px) {
    .collapse:not(.show) {
        display: flex;
    }

    .colorb {
        height: 200px;
    }

    .titulo {
        font-size: 30px;
    }

    .escudo {
        width: 90px;
    }

    .container-fluid {
        flex-direction: column;
    }

    .navbar-nav {
        flex-direction: row;
        margin-bottom: 100px;
    }

  

}


@media (max-width: 390px) {
    .collapse:not(.show) {
        display: flex;
        font-size: 20px;
    }

    .colorb {
        height: 200px;
    }

    .titulo {
        font-size: 25px;
    }

    .escudo {
        width: 90px;
    }

    .navbar-nav {
        margin: 150px;
    }

    .nav-link {
        padding: 100px;
    }
}

/* CONTENIDO PRINCIPAL */
.estadio {
    width: 100vw;
    height: 190px;
}

/* GRILLA */

.grilla {
    display: grid;
    color: white;
    grid-template-columns: repeat(4, 1fr);
    font-size: 30px;
    font-weight: bold;
    font-family: fuente-boca;
    grid-template-areas:
        "nav header header header"
        "nav article article aside"
        "nav article article aside"
        "footer footer footer footer"
    ;
}


/* Hijos */
.grilla nav {
    background-color: #2364AA;
    color: goldenrod;
    grid-area: nav
}

.grilla header {
        background-color: #2C3D55;
    color: goldenrod;
    grid-area: header;
}


.grilla article {
    background-color: rgb(4, 4, 51);
    grid-area: article;
}

.grilla aside {
    color: rgb(4, 4, 51);
    background-color: darkkhaki;
    grid-area: aside;
}

.grilla footer {
    background-color: goldenrod;
    color: rgb(4, 4, 51);
    grid-area: footer;
    height: 200px;
}

.comprar { 
    background-color: white;
    color: rgb(4, 4, 51);
    text-align: center;
    position: relative;
    font-size: 22px;
    font-family: fuente-boca;
    border: 3px solid white;
    top: -10px; /* Puedes ajustar este valor según tu necesidad */
}

/* FIN GRILLA */

.visita {
    width: 400px;
}

.horarios {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    font-size: 13px;
    font-weight: none;
    text-decoration: underline;
    text-align: center;
}

.horariosm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    font-size: 20px;
    font-weight: none;
    text-decoration: underline;
    padding: 20px;
}   

.visit {
    padding-left: 60px;
}

.reng {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding-left: 5px
}

.aclr {
    font-weight: bolder;
    color: goldenrod;
    font-style: italic;
    font-size: 14px;
}

.reserva {
    background-color: white;
    color: rgb(4, 4, 51);
    text-align: center;
    position: relative;
    font-size: 22px;
    font-family: fuente-boca;
    border: 3px solid white;
    top: -16px; /* Puedes ajustar este valor según tu necesidad */
}


#boton {
    right: -115px;
}

/* MUSEO */



.rengm {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 5px
}


.d{ color: goldenrod;}

header .visit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header .visit ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header .visit ul li {
    margin-bottom: 5px;
}

header .visit .images {
    text-align: right;;
}

header .visit .images img {
    width: 140px;
}

.botones-lista {
    list-style-type: none;
    display: flex;
    font-size: 20px;
}


.botones-lista li button {
    padding: 10px;
    background-color: #f0f0f0;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.botones-lista li button:hover {
    background-color:goldenrod;
}

.grilla button:hover{ background-color: goldenrod;}


a:hover {
    background-color: goldenrod;
    color:rgb(4, 4, 51) /* Color del texto al pasar el mouse sobre el enlace */
}



/* HOJA SOCIOS */
.login {
    width: 300px;
}

.fondo {
    position: relative;
    background-color: goldenrod;
    color: rgb(4, 4, 51);
}

.estadiosoc {
    width: 100vw;
    height: 100vh;
}

.estadio {
    position: relative;
}

.form-floating.login {
    font-family: fuente-boca;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#socio {
    top: 195%;
}

#clave {
    top: 240%;
}

#ingresar {
    top: 285%;
}

.titulos {
    padding-left: 80px;
    color: goldenrod;
    font-family: fuente-boca;
    font-size: 50px;
    background-color: rgb(4, 4, 51);
}

#posiciontitulo {
    top: 150%
}


.btn-primary {
    background-color: goldenrod;
    color: rgb(4, 4, 51);
    border: goldenrod;
}

.form-floating.logini {
    font-size: 40px;
    color: goldenrod;
    background-color: rgb(4, 4, 51);
    font-family: fuente-boca;
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
}

/* HOJA RESERVAS */

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: fuente-boca;
    width: 100vw;
    height: 100%;
    color: rgb(4, 4, 51);
    grid-template-areas:
      "Partidos Partidos Partidos"
      "Partidos-Inferiores Partidos-Inferiores Partidos-Inferiores"
      "Pileta Basquet Estacionamiento";
  }
  
  .Partidos { background-color: goldenrod;
    grid-area: Partidos; }
  
  .Partidos-Inferiores { background-color: #F6E27F;
    grid-area: Partidos-Inferiores; }
  
  .Pileta { grid-area: Pileta; background-color: #FFFD98; }
  
  .Basquet { grid-area: Basquet; background-color: #FFE66D;}
  
  .Estacionamiento { grid-area: Estacionamiento; background-color: #F1DB4B;}
  
 .barra {width: 100%;;
      background-color: rgb(4, 4, 51);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.escudochico{width: 60px;}

.inicio {
    font-family: fuente-boca;
    color: goldenrod;
    font-size: 20px;
}


